body{
    display: block;
    box-sizing: border-box;
    background-image: url("image/fundo.png");
    color: #6e4139;
    font-family: cursive;
    
}
#cima{
    display: flex;
    height: 100px;
    background-color: #ffffff;
    width: auto;
    justify-content: space-between;
}
#menu{
    display: flex;
    justify-content: space-evenly;
    height: auto;
    width: 40%;
}
#menu div{
    text-align: center;
    width: 40%;
}
button{
    background-color:white;
    border: 4px solid #6e4139 ;
    border-radius: 20%;
    height: 50%;
    width: 90%;
    margin-top: 14%;
    transition-duration: 0.5s;
}
#meio {
    display: flex;
    height: auto;
    width: 100%;
    justify-content: space-evenly;
    margin-top: 0%;
}
#meio div{
    display: flex;  
    border: 4px solid #6E4139;
    width: 300px;
    height: 350px;
    border-radius: 10%;
    flex-direction: column;
    align-items: center;
    background-color: #fdf5d8;
    text-align: center;

}
#meio div img{
    margin-top: 4%;
    width: 250px;
    border-radius: 10%;
    border: 4px solid #6e4139 ;
    
}
p{
    margin: 0%;
    
}
#slogan{
    display: flex;
    height: auto;
    width: auto;
    font-size: 20px;
    margin : 2.5%;
    margin-right: 25%;
    margin-left: 25%;
    border: 4px solid #6e4139 ;
    background-color: #fdf5d8;
    justify-content: center; 
    border-radius: 10%; 
}
button:hover{
    background-color: #fdf5d8 ;
    border: 4px solid #6e4139 ;
}
footer{
    background-color: #ffffff;
    text-align: center;
}
@media(max-width : 700px){
    #logo{display: none;
    
    }
    #meio{
        flex-direction: column;
        align-items: center; }
    #cima{
        justify-content: center;
    }
    #slogan{
        font-size:16px;
        margin-top:5% ;
        margin-right: 30%;
        margin-left: 30%;
    }

}